@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

element {
    --accent: #48BB78;
}

.logo {
    border-radius: 50%;
    width: max(15%, 150px);
    margin-left: auto;
    margin-right: auto;
}

.container { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    color: black;
    text-align: center;
    font-size: max(5vw, 60px);
    height: 91vh;
    max-width: none;
}

.spaced {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 30px !important;
    padding: 25px 15px;
}

text {
    width: 60%;
}

.img {
    width: max(30%, 250px);
    height: auto;
    border: 3px solid black;
    border-radius: 15px;
    margin: 20px;
}

.text {
    font-size: max(1.5vw, 15px)
}