@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

element {
    --accent: #48BB78;
}

img {
    border-radius: 50%;
    width: max(15%, 150px);
    margin-left: auto;
    margin-right: auto;
}

.container { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    color: black;
    text-align: center;
    font-size: max(5vw, 60px);
    height: 91vh;
}

.btn {
    font-size: 25px;
    padding: 25px 15px;
}